body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 600px;
    background:url(../gambar/bukit\ campuhan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    font-family: sans-serif;
} 
.Login{
   
    width: 350px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}
.Login h2{
    margin: 0 0 20px;
    width: 100%;
    margin-bottom:25px ;
}
.Login .input-group{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.Login .input-group input{
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 10px;
}
.Login .input-group span{
    position: absolute;
    top: 12px;
    left: 20px;
    padding: 0px;
    text-transform: capitalize;
    background-color: #fff;
    transition: 0.5s;
}
.Login .input-group input:focus  ~ span,
.Login .input-group input:valid  ~ span{
    top: -12px;
    left: 20px;
    font-size: 12px;
    background-color: #9cadce;
    padding: 2px 4px;
    border: 1px solid #000;
    border-radius: 5px;

}
.Login .input-group input[type="submit"]{
    background-color: #9cadce;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    transition: 0.5s;
}
.Login .input-group input[type="submit"]:hover{
    width: 100%;
    background-color: #809bce;
    color: #fff;
}
